---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <div class="hero">
    <video autoplay loop muted plays-inline class="hero__video">
      <source src="../../public/space.mp4" type="video/mp4" />
    </video>
    <Navbar />
    <Main />
  </div>
</Layout>
