<nav class="navbar">
  <img src="../../public/cosmo.svg" alt="cosmo icon" class="navbar__icon" />
  <ul class="navbar__items">
    <li class="item"><a href=""></a>Home</li>
    <li class="item"><a href=""></a>About</li>
    <li class="item"><a href=""></a>Projects</li>
    <li class="item"><a href=""></a>Contact</li>
  </ul>
</nav>
